[submodule "cores"]
	path = cores
	url = ../ArduinoCore-iMXRT.git
	branch = main
[submodule "variants/quarto"]
	path = variants/quarto
	url = ../quarto-lib.git
	branch = main
[submodule "libraries"]
	path = libraries
	url = ../arduino-quarto-libraries.git
	branch = main
